[ req ]
default_bits       = 2048
default_md         = sha256
prompt             = no
encrypt_key        = no
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C=AR
O=ENCINITAS SAS
CN=KOI2_ARCA_PROD
serialNumber=CUIT 30716182815

[ req_ext ]
basicConstraints = CA:FALSE
keyUsage         = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
# Opcional:
subjectAltName   = @alt_names

[ alt_names ]
DNS.1 = koi2.spiralshoes.com
